* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.scene,
canvas {
  overflow: hidden;
  background: url("https://wallpaperaccess.com/full/1155041.jpg");
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.box{
  height:100vh;
  width:100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10rem;
}

.box .text{
  font-size: 10rem;
  text-transform: uppercase;
  font-weight: 900;
  mix-blend-mode: overlay;
  color:white;
}